*{
    font-family: 'Poppins';
}

header, body, footer{
	font-family: 'Poppins', sans-serif;
}
.overflow-x-hidden{
    overflow-x: hidden !important;
}
.main-web{
    min-height: 80vh;
}

.header{
	background: #fff;
	padding: 20px 0;
	position: sticky;
    top: 0;
	z-index: 999;
	width: 100%;
	display: block;
    box-shadow: #000 0px 0px 0px 1px;
}
.nav-menu>.nav-link {
    flex: none !important;
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 1.2rem
}
.nav-menu, .header-redes{
    display: none;
}
.nav-menu .nav-link-activo{
    font-weight: 600;
}
.nav-icono img{
    width: 20px;
}
.img-logo{
    width: 80px;
}

/*Footer*/
footer div{
	border-top:4px solid #242223;
	padding-top: 20px;
	margin-top: 5px;
}
footer p{
	text-align: center;
}

footer a{
	color: #212121;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 13px;
}
footer a:hover, footer a:focus{
	text-decoration: none;
	color: #212121;
}

.section_general{
	position: relative;
}
.link-dev{
    padding-top: 10px;
}
.link-dev a {
    font-size: 0.8rem;
    color: #000;
    text-decoration: none;
}
.header-offcanvas{
    background-color: rgb(29, 23, 23) !important;
    border-right: 0;
}
.offcanvas-enlace{
    color: #fff;
    font-size: 2rem;
}
.offcanvas-enlace-activo{
    color: #eb9956;
    font-weight: 500;
}
.off-canvas-contenedor-rs{
    margin-top: 10px;
}
.btn-abrir-menu{
    display: none !important;
    margin-left: auto;
}
.nav-icono-rp img{
    filter: invert(1);
}
footer span{
    font-size: 0.9rem;
}


@media (min-width: 768px){
    footer span {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 992px) {
    .btn-abrir-menu{
        display: block !important;
    }
}

@media(min-width: 992px){
    .nav-menu{
        display: flex;
    }
    footer span {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media(min-width: 1200px){
    footer span {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media(min-width: 1600px){
    .nav-menu>.nav-link {
        font-size: 1.1rem;
    }
}
